<!DOCTYPE html>
<html>
<head>
<style> 
input[type=button], input[type=submit], input[type=reset] {
        background-color: rgb(54, 139, 235);
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
      }
      
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
input[type=text] {
    width: 19%;
    height: 30px;
    border: 2px solid rgb(245, 231, 186);
    border-radius: 1px;
  }
</style>
</head>
<body>
    <form action="diet" method="post">
        {% csrf_token %}
        {%if str is None%}
        <h4  style="color: rgb(0, 0, 0);" ><strong>Please donot use '_' symbol!</strong> </h4>
        <h2 align='center' style="color: tomato;" ><strong>Diet Plan</strong> </h2>
                <h3  style="color: rgb(13, 100, 231);" ><strong>Sunday</strong> </h3>
        <input type="text" name="m1" placeholder="Breakfast" pattern="[^_]+"required>
        <input type="text" name="m2" placeholder="Snack"pattern="[^_]+"required>
        <input type="text" name="m3" placeholder="Lunch"pattern="[^_]+"required>
        <input type="text" name="m4" placeholder="Snack"pattern="[^_]+"required>
        <input type="text" name="m5" placeholder="Dinner"pattern="[^_]+"required>
        <h3  style="color: rgb(13, 100, 231);" ><strong>Monday</strong> </h3>
        <input type="text" name="t1" placeholder="Breakfast"pattern="[^_]+"required>
        <input type="text" name="t2" placeholder="Snack"pattern="[^_]+"required>
        <input type="text" name="t3" placeholder="Lunch"pattern="[^_]+"required>
        <input type="text" name="t4" placeholder="Snack"pattern="[^_]+"required>
        <input type="text" name="t5" placeholder="Dinner"pattern="[^_]+"required>
        <h3  style="color: rgb(13, 100, 231);" ><strong>Tuesday</strong> </h3>
        <input type="text" name="w1" placeholder="Breakfast"pattern="[^_]+"required>
        <input type="text" name="w2" placeholder="Snack"pattern="[^_]+"required>
        <input type="text" name="w3" placeholder="Lunch"pattern="[^_]+"required>
        <input type="text" name="w4" placeholder="Snack"pattern="[^_]+"required>
        <input type="text" name="w5" placeholder="Dinner"pattern="[^_]+"required>
        <h3  style="color: rgb(13, 100, 231);" ><strong>Wednesday</strong> </h3>
        <input type="text" name="th1" placeholder="Breakfast"pattern="[^_]+"required>
        <input type="text" name="th2" placeholder="Snack"pattern="[^_]+"required>
        <input type="text" name="th3" placeholder="Lunch"pattern="[^_]+"required>
        <input type="text" name="th4" placeholder="Snack"pattern="[^_]+"required>
        <input type="text" name="th5" placeholder="Dinner"pattern="[^_]+"required>
        <h3  style="color: rgb(13, 100, 231);" ><strong>Thusday</strong> </h3>
        <input type="text" name="f1" placeholder="Breakfast"pattern="[^_]+"required>
        <input type="text" name="f2" placeholder="Snack"pattern="[^_]+"required>
        <input type="text" name="f3" placeholder="Lunch"pattern="[^_]+"required>
        <input type="text" name="f4" placeholder="Snack"pattern="[^_]+"required>
        <input type="text" name="f5" placeholder="Dinner"pattern="[^_]+"required>
        <h3  style="color: rgb(13, 100, 231);" ><strong>Friday</strong> </h3>
        <input type="text" name="sa1" placeholder="Breakfast"pattern="[^_]+"required>
        <input type="text" name="sa2" placeholder="Snack"pattern="[^_]+"required>
        <input type="text" name="sa3" placeholder="Lunch"pattern="[^_]+"required>
        <input type="text" name="sa4" placeholder="Snack" pattern="[^_]+"required>
        <input type="text" name="sa5" placeholder="Dinner"pattern="[^_]+"required>
        <h3  style="color: rgb(13, 100, 231);" ><strong>Saturday</strong> </h3>
        <input type="text" name="s1" placeholder="Breakfast"pattern="[^_]+"required>
        <input type="text" name="s2" placeholder="Snack"pattern="[^_]+"required>
        <input type="text" name="s3" placeholder="Lunch"pattern="[^_]+"required>
        <input type="text" name="s4" placeholder="Snack"pattern="[^_]+"required>
        <input type="text" name="s5" placeholder="Dinner"pattern="[^_]+"required><br><br>
        {%endif%}

<div align='center'>
        <input  type="submit" value="Ok" >
    </div>
    </form>
    {%if str%}
    <p><strong>Converted:</strong> </p>
    <textarea>{{str}}</textarea><br><br>
    {%endif%}
</body>
</html>
